In [1]:
import pandas as pd
import seaborn as sns

### RQ1: What is the amount of search engine moderation on Google vs Baidu?

4 classes:
- consistent suggestion
- unresponded query
- no group in the suggestion
- changed format in the suggestion

1) Show top-10 groups consistent suggestions
2) 3 barplots for each of the other group

In [ ]:
N = 147

In [12]:
baidu = pd.read_csv("data/baidu.csv")
google = pd.read_csv("data/google.csv")

In [29]:
google[google["suggestion"].isna()].groupby(["category"]).count()

,query,suggestion,group,completion,suggestion_starts_with_query,group_in_suggestion,extracted_suggestion,sentiment_rating_completion,sentiment_rating_full_suggestion
category,,,,,,,,,
Age,2,0,2,0,0,0,0,0,0
Gender,4,0,4,0,0,0,0,0,0
Lifestyle,4,0,4,0,0,0,0,0,0
Nationalities,23,0,23,0,0,0,0,0,0
Peoples,21,0,21,0,0,0,0,0,0
Political,4,0,4,0,0,0,0,0,0
Religion,6,0,6,0,0,0,0,0,0
Sexual Orientation,7,0,7,0,0,0,0,0,0

In [28]:
for template in ["template 1", "template 2"]:
    d = baidu[baidu.template_match == template]
d[d["suggestion"].isna()].groupby(["category"]).count()

,query,suggestion,group,group_English,completion,completion_English,suggestion_starts_with_query,group_in_suggestion,extracted_suggestion,sentiment_rating_completion,sentiment_rating_full_suggestion,template_match
category,,,,,,,,,,,,
Age,1,0,1,1,0,0,0,0,0,0,0,1
Gender,1,0,1,1,0,0,0,0,0,0,0,1
Lifestyle,1,0,1,1,0,0,0,0,0,0,0,1
Nationalities,1,0,1,1,0,0,0,0,0,0,0,1
Peoples,1,0,1,1,0,0,0,0,0,0,0,1
Political,2,0,2,2,0,0,0,0,0,0,0,2
Religion,3,0,3,3,0,0,0,0,0,0,0,3
Sexual Orientation,2,0,2,2,0,0,0,0,0,0,0,2

In [36]:
baidu[baidu["category"] == "Nationalities"]

,query,suggestion,category,group,group_English,completion,completion_English,suggestion_starts_with_query,group_in_suggestion,extracted_suggestion,sentiment_rating_completion,sentiment_rating_full_suggestion,template_match
742,为什么美国人这么,为什么美国人这么高,Nationalities,美国人,Americans,高,high,True,True,这么高,Negative,Neutral,template 1
743,为什么美国人这么,为什么美国人这么聪明,Nationalities,美国人,Americans,聪明,Error in translation,True,True,这么聪明,Positive,Neutral,template 1
744,为什么美国人这么,为什么美国人这么坏,Nationalities,美国人,Americans,坏,bad,True,True,这么坏,Negative,Negative,template 1
745,为什么美国人这么,为什么美国人这么喜欢selena,Nationalities,美国人,Americans,喜欢selena,Like Selena,True,True,这么喜欢selena,Positive,Neutral,template 1
746,为什么美国人这么,为什么美国人这么开放,Nationalities,美国人,Americans,开放,Open,True,True,这么开放,Neutral,Neutral,template 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1551,越南人为什么这么,越南人为什么这么像中国人,Nationalities,越南人,Vietnamese people,像中国人,Like Chinese people,True,True,这么像中国人,Neutral,Negative,template 2
1552,越南人为什么这么,越南人为什么这么自信,Nationalities,越南人,Vietnamese people,自信,self-confidence,True,True,这么自信,Neutral,Negative,template 2
1553,越南人为什么这么,越南人为什么这么强悍,Nationalities,越南人,Vietnamese people,强悍,Strong and formidable,True,True,这么强悍,Neutral,Negative,template 2
2334,为什么哥伦比亚人这么,NaN,Nationalities,哥伦比亚人,Colombians,NaN,NaN,NaN,NaN,NaN,NaN,NaN,template 1
2346,台灣人为什么这么,NaN,Nationalities,台灣人,Taiwanese people,NaN,NaN,NaN,NaN,NaN,NaN,NaN,template 2

# RQ2: What is the sentiment of search engine completion on Google vs Baidu?

In [39]:
## dataframe {engine, category, group, % negative}

## sns.boxplot
## hue = engine
## x = category
## y = % negative

## kruskal-wallis test?

,query,suggestion,group,group_English,completion,completion_English,suggestion_starts_with_query,group_in_suggestion,extracted_suggestion,sentiment_rating_completion,sentiment_rating_full_suggestion,template_match
category,,,,,,,,,,,,
Age,142,140,142,142,140,140,140,140,84,84,84,142
Gender,420,418,420,420,418,418,418,418,242,242,242,420
Lifestyle,186,184,186,186,184,184,184,184,36,36,36,186
Nationalities,814,812,814,814,812,812,812,812,309,309,309,814
Peoples,528,526,528,528,526,526,526,526,98,98,98,528
Political,109,105,109,109,105,105,105,105,24,24,24,109
Religion,112,106,112,112,106,106,106,106,28,28,28,112
Sexual Orientation,44,40,44,44,40,40,40,40,0,0,0,44